.application{
    background-color: $blue-color;
}

.rules{
    width: 100%;
    height: 100vh;

    &--hidden{
        display: none;
    }

    &__content{
        margin-top: $space-h1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title{
        font-size: $h1-size;
        color: $dark-color;
        margin-bottom: $space-p;
    }

    &__img{
        width: 25%;
        margin-bottom: $space-h3;
    }

    &__text{
        width: 80%;
        margin-bottom: $space-text;

        &--last{
            margin-bottom: 0;
        }
    }

    &__btn{
        margin-top: $space-h3;
        border: none;
    }
}



.app{
    // ----- Keep like this -----
    background-color: $blue-color;
    display: none;

    &--show{
        display: block;
    }

    &__warning{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light-color;
        background-color: $dark-color;
        text-align: center;
        padding: $space-p;
        z-index: 6000;

        & h2{
            margin-bottom: $space-h3;
        }
    }

    &__reload{
        position: fixed;
        z-index: 5000;
        bottom: $space-p; right: $space-p;

        border: none;

        & svg{
            width: $p-size;
            height: $p-size;
        }
    }
 
    &__container{
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__message{
        position: absolute;
        top: 100px; left: 50%;
        transform: translate(-50%, -50%);

        background-color: $dark-color;
        color: $light-color;

        border-radius: 20px;

        padding: $space-h3;
        
        display: none;

        z-index: 50;

        & svg{
            position: absolute;
            bottom: 2px; right: 5px;
            fill: $light-color;
            width: $h2-size;
            height: $h2-size;
        }
    }
    // ----- Keep like this -----


    
    /* app character */
    &__dog{
        height: 610px;
        width: 500px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        animation: pauseCharacter 1s infinite;
        position: absolute;
        bottom: 100px;
        left: 0;
        z-index: 1000;
    }
    
    @keyframes pauseCharacter{
        0%{
            background-image: url(../assets/images/ilabrador_assis-1.webp);
        }
        50%{
            background-image: url(../assets/images/ilabrador_assis-2.webp);
        }
        100%{
            background-image: url(../assets/images/ilabrador_assis-1.webp);
        }
    }
    
    &__dog{  
        &--move{
            animation: movingCharacter .5s infinite;
            transition: left .2s ease-in-out;
        }
    }
    
    @keyframes movingCharacter {
        0%{
            background-image: url(../assets/images/ilabrador-1.webp);
        }
        33%{
            background-image: url(../assets/images/ilabrador-0.webp);
        }
        66%{
            background-image: url(../assets/images/ilabrador-2.webp);
        }
        99%{
            background-image: url(../assets/images/ilabrador-1.webp);
        }
    }
    
    /* app items */
    /* app items kids */
    &__kid{
        position: absolute;
        display: none;
        z-index: 2000;
        width: 300px;
        height: 480px;
        background-image: url(../assets/images/boy.webp);
        background-position: 0 0;
        background-size: cover;
        touch-action: none; /* Désactiver le défilement pendant le drag sur mobile */
    }
    
    &__kid_1{
        right: 750px;
        bottom: 125px;
        z-index: 2000;
    }
    
    &__kid_2{
        right: 450px;
        bottom: 75px;
        z-index: 2500;
        background-image: url(../assets/images/girl.webp);
    }
    
    &__kid_3{
        right: 150px;
        bottom: 25px;
        z-index: 3000;
    }
    
    &__kid_4{
        right: 500px;
        bottom: 175px;
        z-index: 1500;
    }
    
    &__kid_5{
        right: 200px;
        bottom: 225px;
        z-index: 1100;
        background-image: url(../assets/images/girl.webp);
    }
    
    /* app items bags */
    &__bag{
        position: absolute;
        z-index: 2000;
        background-position: 0 0;
        background-size: 100% 100%;
        touch-action: none;
        display: none;
    }
    
    &__bag_1{
        width: 300px;
        height: 200px;
        right: 750px;
        bottom: 125px;
        z-index: 2000;
        background-image: url(../assets/images/bag-1.webp);
    }
    
    &__bag_2{
        width: 300px;
        height: 480px;
        right: 450px;
        bottom: 75px;
        z-index: 2500;
        background-image: url(../assets/images/bag-2.webp);
    }
    
    &__bag_3{
        width: 300px;
        height: 480px;
        right: 150px;
        bottom: 25px;
        z-index: 3000;
        background-image: url(../assets/images/bag-3.webp);
    }
    
    
    /*app backgrounds*/
    &__background_container{
        width: 100%;
        height: 100vh;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 10;
    }
    
    &__background{
        width: 100%;
        height: 100vh;
        transform-origin: bottom left;
        position: absolute;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    
    &__background_1{
        background-image: url(../assets/images/chambre_jour.webp);
    }
    
    &__background_2{
        background-image: url(../assets/images/feux_rouge.webp);
        transform: rotate(90deg);
    }
    
    &__background_3{
        background-image: url(../assets/images/gare.webp);
        transform: rotate(180deg);
    }
    
    &__background_4{
        background-image: url(../assets/images/magasin.webp);
        transform: rotate(270deg);
    }
    
    /* modifier */
    &__item{     
        &--appear{
            display: block;
        }
    }
    
    &__item{
        &--ejected{
            transition: 1s ease-in;
            transform: translate( 0px, 150vh) rotate(360deg);
        }
    }
}