.app__warning{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light-color;
    background-color: $dark-color;
    text-align: center;
}

.app{
    width: 100%;
    height: 100vh;
    background-color: #13b9f5;

    &__character{
        width: 250px;
        height: 250px;
    
        background-image: url(https://thibault-varga.be/projets/ilab/test/assets/doggo.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    
        position: absolute;
        bottom: 90px;
        left: 0;
        z-index: 100;
    
        transition:  left .2s ease;
    }

    &__ground{
        width: 100%;
        height: 100px;
        
        background-color: rgb(91, 213, 91);
    
        position: absolute;
        bottom: 0;
        border-top: solid #000000 3px;
        z-index: 1;
    }

    &__message{
        width: 300px;
        
        background-color: #fff;
        border-radius: 20px;
        border-bottom-left-radius: 0px;
        padding: 20px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    
        position: absolute;
        bottom: 350px;
        left: 800px;
        z-index: 50;
    
        opacity: 0;
    }
}

.appear{
    opacity: 1;
}