.application{
    background-color: $blue-color;
}

.rules{
    width: 100%;
    height: 100vh;

    &--hidden{
        display: none;
    }

    &__content{
        margin-top: $space-h1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title{
        font-size: $h1-size;
        color: $dark-color;
        margin-bottom: $space-p;
    }

    &__img{
        width: 25%;
        margin-bottom: $space-h3;
    }

    &__text{
        width: 80%;
        margin-bottom: $space-text;

        &--last{
            margin-bottom: 0;
        }
    }

    &__btn{
        margin-top: $space-h3;
        border: none;
    }
}



.app{
    // ----- Keep like this -----
    background-color: $blue-color;
    display: none;

    &--show{
        display: block;
    }

    &__warning{
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light-color;
        background-color: $dark-color;
        text-align: center;
        padding: $space-p;
        z-index: 6000;

        & h2{
            margin-bottom: $space-h3;
        }
    }

    &__reload{
        position: fixed;
        z-index: 5000;
        bottom: $space-p; right: $space-p;

        border: none;

        & svg{
            width: $p-size;
            height: $p-size;
        }
    }
 
    &__container{
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__message{
        position: absolute;
        top: 10%; left: 50%;
        transform: translate(-50%, -50%);

        background-color: $dark-color;
        color: $light-color;

        border-radius: 20px;

        padding: $space-h3;

        z-index: 50;

        & svg{
            position: absolute;
            bottom: 2px; right: 5px;
            fill: $light-color;
            width: $h2-size;
            height: $h2-size;
        }

        & p{
            margin: 0;
            display: none;
        }

        & .app__item--appear{
            display: block;
        }
    }
    // ----- Keep like this -----


    

    &__dog{
        height: 20vh;
        width: 16vh;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        animation: pauseCharacter 1s infinite;
        position: absolute;
        bottom: 100px;
        left: 0;
        z-index: 1000;
    }
    
    @keyframes pauseCharacter{
        0%{
            background-image: url(../assets/images/ilabrador_assis-1.webp);
        }
        50%{
            background-image: url(../assets/images/ilabrador_assis-2.webp);
        }
        100%{
            background-image: url(../assets/images/ilabrador_assis-1.webp);
        }
    }
    
    &__dog{  
        &--move{
            animation: movingCharacter .5s infinite;
        }
    }
    
    @keyframes movingCharacter {
        0%{
            background-image: url(../assets/images/ilabrador-1.webp);
        }
        33%{
            background-image: url(../assets/images/ilabrador-0.webp);
        }
        66%{
            background-image: url(../assets/images/ilabrador-2.webp);
        }
        100%{
            background-image: url(../assets/images/ilabrador-1.webp);
        }
    }
    

    &__item{
        animation: fall 1s;
    }

    @keyframes fall {
        0%{
            bottom: 100vh;
        }
        30%{
            bottom: 100px;
        }
        45%{
            bottom: 150px;
        }
        55%{
            bottom: 150px;
        }
        70%{
            bottom: 100px;
        }
        100%{
            bottom: 100px;
        }
    }


    &__kid{
        position: absolute;
        bottom: 100px;
        display: none;
        z-index: 2000;
        width: 18vh;
        height: 28vh;
        background-position: 0 0;
        background-size: cover;
        touch-action: none;
        background-repeat: no-repeat;
    }
    
    &__kid_1{
        right: calc(50px + 32vh);
        background-image: url(../assets/images/girl.webp);
    }
    
    &__kid_2{
        right: calc(50px + 16vh);
        background-image: url(../assets/images/boy.webp);
    }
    
    &__kid_3{
        right: 50px;
        background-image: url(../assets/images/girl.webp);
    }

    .mannequin{
        background-image: url(../assets/images/mannequin.webp);
    }
    

    &__bag{
        position: absolute;
        z-index: 2000;
        background-position: 0 0;
        background-size: 100% 100%;
        touch-action: none;
        display: none;
        bottom: 100px;
    }
    
    &__bag_1{
        width: 20vh;
        height: 13vh;
        right: calc(50px + 32vh);
        z-index: 2000;
        background-image: url(../assets/images/bag-1.webp);
    }
    
    &__bag_2{
        width: 16vh;
        height: 25vh;
        right: calc(50px + 16vh);
        z-index: 2500;
        background-image: url(../assets/images/bag-2.webp);
    }
    
    &__bag_3{
        width: 16vh;
        height: 25vh;
        right: 50px;
        z-index: 3000;
        background-image: url(../assets/images/bag-3.webp);
    }
    
    
    &__background_container{
        width: 100%;
        height: 100vh;
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 10;
    }

    &__background{
        width: 100%;
        height: 100vh;
        transform-origin: bottom left;
        position: absolute;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &__background_1{
        background-image: url(../assets/images/chambre_jour.webp);

        &--dark{
            background-image: url(../assets/images/chambre_nuit.webp);
        }
    }

    &__background_2{
        transform: rotate(90deg);
        background-image: url(../assets/images/feux_rouge-rouge.webp);

        &--green{
            background-image: url(../assets/images/feux_rouge-vert.webp);
            animation: feux 1s;
        }
    }

    @keyframes feux{
        0%{
            background-image: url(../assets/images/feux_rouge.webp);
        }
        90%{
            background-image: url(../assets/images/feux_rouge.webp);
        }
        91%{
            background-image: url(../assets/images/feux_rouge-vert.webp);
        }
        100%{
            background-image: url(../assets/images/feux_rouge-vert.webp);
        }
    }

    &__background_3{
        background-image: url(../assets/images/gare.webp);
        transform: rotate(180deg);
    }

    &__background_4{
        background-image: url(../assets/images/magasin.webp);
        transform: rotate(270deg);
    }

    &__ending{
        z-index: 10000;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        animation: endingOpacity 1s;
    }
    
    @keyframes endingOpacity{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    } 
    
    &__ending_background{
        background-color: black;
        opacity: 0.8;
        width: 100%;
        height: 100vh;
    }
    
    &__ending_reload{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        border: none;
    }
    
    &__ending_reload svg{
        width: 20px;
        height: 20px;
    }

    &__item{
        &--appear{
            display: block;
        }

        &--hidden{
            display: none;
        }

        &--ejected{
            transition: 1s ease-in;
            transform: translate( 0px, 150vh) rotate(360deg);
        }
    }
}