.credits{  
    background-color: $grey-color-dark;
    color: $light-color;

    &__menu{
        padding: $space-h2 0 0;
    }

    &__btn{
        display: inline-block; // TODO: Ne plus avoir un bouton qui fait toute la largeur
    }

    &__btn:hover{
        color: var(--cb-grey) !important;
        background-color: var(--cb-yellow);
        border: 1px solid var(--cb-grey);
        text-decoration: none;
    }

    &__icon{
        padding: 0 11px 0 0;
    }

    &__title{
        
        &--h1{
            margin: $space-h3 0;
            font-size: $h1-size;
        }

        &--h2{
            margin-bottom: $space-h3;
            font-size: $h2-size;
            font-weight: 700;
        }

        &--h3{
            margin-bottom: 22px;
            font-size: $h3-size;
            font-weight: 500;
        }
    }

    &__list{
        margin-bottom: 66px;
        padding: 0;
    }

    &__el{
        margin-bottom: 22px;
        font-size: $p-size;
    }

    &__content{
        margin-bottom: $space-h1;
    }
}