.intro{
    background-color: $blue-color;
    padding: $space-h1 0 $space-h3;

    background-image: url(../assets/images/nonos.png);

    background-position: center;
    // background-repeat: no-repeat;
    background-size: contain;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-p;
        flex-direction: column;
    }

    &__title{
        font-size: $h1-size;

        & span{
            color: $blue-color;

            text-shadow: 2px 2px 0 $dark-color, -2px -2px 0 $dark-color, 2px -2px 0 $dark-color, -2px 2px 0 $dark-color;
        }
    }

    &__text{
        width: 100%;
        margin-bottom: $space-text;

        &--last{
            margin-bottom: $space-p;
        }
    }

    &__list{
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: $space-text;
    }

    &__el{
        display: flex;
        justify-content: center;
    }

    &__img{
        width: 100%;
        border-radius: calc($space-p/2);
    }

}