.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-color;
    z-index: 20;
    transform: translateY(-100%);
    transition: transform .3s cubic-bezier(0.7, 0, 0.84, 0);

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    &__logo{
        width: 75px;
        fill: $grey-color-dark;
    }

    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space-p;
    }

    &__el a{
        padding: 10px;
        color: $grey-color-dark;

        &:hover{
            color: $dark-color;
        }
    }

    &__btn{
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: calc($space-p/3);
        color: $light-color;
        background: $grey-color-dark;
        border-radius: calc($space-p/2);
        padding: calc($space-p/4) calc($space-p/2);

        font-style: italic;
        transition: ease-in-out;

        &:visited, &:hover, &:active{
            color: $light-color;
        }

        &:active{
            transform: scale(105%);
        }
    }

    &__play{
        width: 10px;
        fill: $light-color;
    }

    &--toggle{
        cursor: pointer;
        position: absolute;
        top: $space-p;
        right: $space-p;
        z-index: 30;

        background: none;
        border: none;
    }

    &__icon{
        width: $h3-size;
        height: $h3-size;
        // fill: $grey-color-dark;
    }

    &--open &{
        transform: translateX(0);
    }
}