.presentation{
    background-color: $grey-color-dark;
    padding: $space-h3 0;

    color: $light-color;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-h1;
        flex-direction: column;
    
        & > div:nth-child(2){
            display: none;
        }
    }

    &__title{
        font-size: $h2-size;
        margin-bottom: $space-p;
    }

    &__text{
        width: 100%;
        margin-bottom: $space-text;

        &--last{
            margin-bottom: 0;
        }
    }

    &__img{
        width: 100%
    }
}