.project{
    padding: $space-h3 0;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $space-p;
        flex-direction: column;
    }

    &__title{
        font-size: $h2-size;
        margin-bottom: $space-p;
    }

    &__text{
        width: 100%;
        margin-bottom: $space-text;

        &--last{
            margin-bottom: 0;
        }
    }

    &__img{
        width: 100%;
        border-radius: calc($space-p/2);
        border: 2px solid $dark-color;
    }
}