@media only screen and (min-width: $breakpoint-mobile){
    .wrapper{
        width: 90%;
    }

    .menu{
        &__wrapper{
            width: 100%;
        }
    }

    .footer{
        &__content{
            gap: $space-text;
        }
        
        &__list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
    
            display: flex;
            gap: calc($space-p/2);
        }
    }
}

@media only screen and (min-width: $breakpoint-tablet){
    .wrapper{
        width: 80%;
    }

    .menu{
        position: initial;
        padding: calc($space-p/2) 0;

        flex-direction: row;
        justify-content: space-between;

        transform: translateX(0);

        &__list{
            flex-direction: row;
        }

        &--toggle{
            display: none;
        }  
    }

    .intro{
        padding: $space-h1 0 $space-h3;

        &__list{
            flex-direction: row;
            gap: $space-p;
        }

        &__text{
            &--last{
                margin-bottom: $space-h3;
            }
        }
    }

    .presentation{
        padding: $space-h2 0;
    }

    .project{
        padding: $space-h2 0;
    }

    .team{
        padding: $space-h2 0;
    }

    .trailer{
        padding: $space-h2 0;
    }
}

@media only screen and (min-width: $breakpoint-desktop){
    .wrapper{
        width: 75%;
    }

    .intro{
        padding: $space-h1 0;

        &__content{
            gap: $space-h1;
            flex-direction: row;
        }

        &__title{
            font-size: calc($h1-size*2);
        }
    }

    .presentation{
        padding: $space-h1 0;

        &__content{
            flex-direction: row;

            & > div:nth-child(1){
                flex: 0 0 60%;
            }
        
            & > div:nth-child(2){
                flex: 0 0 40%;
                display: flex;
            }
        }

        &__title{
            font-size: $h1-size;
        }
    }

    .project{
        padding: $space-h1 0;

        &__content{
            gap: $space-h1;
            flex-direction: row;

            & > div:nth-child(1){
                flex: 0 0 60%;
            }
        
            & > div:nth-child(2){
                flex: 0 0 40%;
            }
        }

        &__title{
            font-size: $h1-size;
        }
    }

    .team{
        padding: $space-h1 0;

        &__title{
            font-size: $h1-size;
        }

        &__wrapper{
            width: 70%;
        }

        &__el{
            margin-bottom: $space-h3;
            flex-direction: row;
            padding: $space-p;
            gap: $space-h2;
        }

        &__text{
            margin-top: $space-p;
        }
    }

    .trailer{
        padding: $space-h1 0;

        &__title{
            font-size: $h1-size;
            margin-bottom: $space-h3;
        }
    }

    .footer{
        &__content{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop-large){}