@media only screen and (min-width: $breakpoint-mobile){}

@media only screen and (min-width: $breakpoint-tablet){
    .wrapper{
        width: 80%;
    }

    .menu{
        position: initial;
        padding: calc($space-p/2) 0;

        flex-direction: row;
        justify-content: space-between;

        transform: translateX(0);

        &__list{
            flex-direction: row;
        }

        &--toggle{
            display: none;
        }  
    }

    .intro{
        &__list{
            flex-direction: row;
            gap: $space-p;
        }

        &__text{
            &--last{
                margin-bottom: $space-h3;
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop){
    .wrapper{
        width: 75%;
    }

    .intro{
        &__content{
            gap: $space-h1;
            flex-direction: row;
        }

        &__title{
            font-size: calc($h1-size*2);
        }
    }

    .footer{
        &__content{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media only screen and (min-width: $breakpoint-desktop-large){}