.team{
    background-color: $grey-color-dark;
    padding: $space-h3 0;

    color: $light-color;

    &__title{
        font-size: $h2-size;
        margin-bottom: $space-h3;

        text-align: center;
    }

    &__wrapper{
        width: 95%;
        margin: 0 auto;
    }

    &__list{
        list-style: none;
    }

    &__el{
        display: flex;
        align-items: center;
        gap: $space-p;
        flex-direction: column;

        margin-bottom: $space-h3;

        // border-radius: calc($space-p/2);
        // padding: $space-text;
    }

    &__name{
        font-size: $h2-size;
    }

    &__tag{
        font-size: $p-mini-size;
        background-color: $dark-color;
        padding: 5px;
    }

    &__text{
        margin-top: $space-text;
    }

    &__img{
        width: 250px;
        height: 250px;
        background-color: $grey-color-dark;
    }
}