.top{
    position: fixed;
    bottom: $space-p;
    right: $space-p;
    background-color: $beige-color;
    width: 44px;
    height: 44px;
    border-radius: calc($space-p/2);

    z-index: 20;

    &--show{
        display: block;
    }

    &--hide{
        display: none;
    }

    &:hover{
        background-color: $link-hover-color;

        & svg{
            fill: $beige-color;
        }
    }

    & svg{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        fill: $grey-color-dark;
    }
}