@import 'utils/variables';
// @import 'bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-family: $luciole;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    line-height: $line-height;
}

p{
    line-height: $line-height;
}

a{
    font-weight: 500;
}

.title{
    font-family: $verdana;
    font-weight: 700;
}