@font-face {
    font-family: 'Luciole';
    src: url('../assets/fonts/Luciole-Regular/Luciole-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Luciole';
    src: url('../assets/fonts/Luciole-Bold/Luciole-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Luciole';
    src: url('../assets/fonts/Luciole-Italic/Luciole-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Luciole';
    src: url('../assets/fonts/Luciole-BoldItalic/Luciole-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}