@import './fonts';

$base: 20px;
$multi: 1.414;

$p-size: $base;
$h3-size: round($p-size * $multi);
$h2-size: round($h3-size * $multi);
$h1-size: round($h2-size * $multi);

$space-text: $base;
$space-p: $p-size * 2;
$space-h3: $h3-size * 2;
$space-h2: $h2-size * 2;
$space-h1: $h1-size * 2;

$line-height: 150%;

$luciole: 'Luciole', sans-serif; // 400 - 700 - Italic
$verdana: "verdana-pro", sans-serif;


$dark-color: #121212;
$light-color: #fafafa;

$beige-color: #E3C491;
$darkbrown-color: #4B2F00;
$grey-color: #5F5351;
$blue-color: #97DAFF;

$grey-color-dark: mix($grey-color, #000000, 80%);
$grey-color-light: mix($grey-color, #ffffff, 80%);

$link-color: $beige-color;
$link-visited-color: $beige-color;
$link-hover-color: $grey-color-dark;
$link-active-color: $grey-color-light;


$breakpoint-mobile: 640px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-desktop-large: 1921px;