@import './fonts';

$base: 20px;
$multi: 1.414;

$p-size: round($base * $multi);
$h3-size: round($p-size * $multi);
$h2-size: round($h3-size * $multi);
$h1-size: round($h2-size * $multi);

$space-p: $p-size * 2;
$space-h3: $h3-size * 2;
$space-h2: $h2-size * 2;
$space-h1: $h1-size * 2;

$line-height: 150%;

$luciole: 'Luciole', sans-serif; // 400 - 700 - Italic


// Override Bootstrap variables
// Color
$primary: #a333ff;

// Button
$btn-border-radius: 0px;

// Card
$card-border-radius: 0px;

// TODO: Ajouter le line-height sur les textes;
// TODO: Modifier les margin-bottom de chaque éléments avec les variables $space-*